
  .swiper {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }